*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul, ol, li{
    list-style: none;
    background-color: black;
}
:root{
    --primary-color: rgb(3, 3, 126);
    --secondary-color: white;
    --hover-bg-color: white;
    --hover-text-color: rgb(255, 255, 255);
    --text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

html, body {
    scroll-behavior: smooth;
    transition: 1s;
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-color);
}

header{
    position: fixed;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    padding: 16px;
    z-index: 1000;
}
header nav ul{
    display: flex;
    justify-content: space-evenly;
}

header nav ul a {
    color: var(--secondary-color);
    padding: 8px 16px;
    transition: background-color 0.7s, color 0.7s, transform 0.3s;
    text-shadow: var(--text-shadow);
}

header nav ul a:hover {
    color: var(--hover-text-color);
    background-color: var(--hover-bg-color);
    transform: scale(1.05);
}
.grupo{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}
#vermelho{
    background-color: var(--primary-color);
    position: relative;
}
#vermelho .bolha {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    background-color: aliceblue;
    width: 60vh;
    height: 60vh;
    font-size: 7.8vh;
    font-weight: bold;
    color: #2E45A1;
    margin-bottom: 10px;
    position: absolute;
    left: 35%;
    border-radius: 50% 50% 50% 0%;
    padding-right: 10px;
    z-index: 1;
}
#vermelho .absoluto h1 {
    margin-top: 0%;
    font-size: 650px;
    text-align: center;
    text-shadow: var(--text-shadow);
    opacity: 0.2;
    z-index: 0; /* Coloca o h1 atrás da bolha */
}

#vermelho .absoluto h2 {
    margin-top: -5%;
    font-size: 650px;
    text-align: center;
    text-shadow: var(--text-shadow);
    opacity: 0.4;
    z-index: -1; /* Coloca o h2 ainda mais atrás */
}
#vermelho img{
    position: absolute;
    top: 63%;
    left: 26%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
    z-index: 2;
}

#verde{
background-color: var(--primary-color);
}
#azul{
background-color: var(--primary-color);
}
#amarelo{
background-color: var(--primary-color);
}
#roxo{
background-color: var(--primary-color);
}

@media (max-width: 768px){
    header nav ul {
        flex-direction: column;
        align-items: center;
    }
    header nav ul a {
        padding: 12px 20px;
    }
}